
body{
    width: 100%;
    height: 100vh;
    font-family: 'Krona One', sans-serif;
    color:#3F55A3;
    background-color: #EDECEC;
}

h1,h2,h3 {

    font-family: 'Krona One', sans-serif;
    color:#3F55A3;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#3F55A3;
}

div > a {

    text-decoration: none;
    color: #EDECEC;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Krona One', sans-serif;
}
div ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

div ul :hover {
    color: #6787f8;
}

div ul li {

    text-align: center;
    width: 100%;

}

/*Menu*/

div ul li a {

   
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #EDECEC;
}

div .botao {
    color: #EDECEC;
    width: 50%;
    text-decoration: none;
    padding: 10px 0;
    background-color: #5969a1;
    font-size: .9em;
    border-radius: 9px;
    float: right;
}

/*Cabeçalho*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #3F55A3;
    padding: 20px;

}

header h1{
    text-decoration: underline;
    text-decoration-color: #9A9595;
    color: #3F55A3;
}


.botao {
    color: #EDECEC;
    text-decoration: underline;
    text-decoration-color: #9A9595;
    padding: 10px 30px;
    background-color: #3F55A3;
    font-size: .9em;
    border-radius: 9px;
}

.botao:hover {
    background: #6678b9;
}

header p {

    margin-bottom: 2em;
}


/*Sobre*/

#sobre {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #3F55A3;
    color: #EDECEC;
}
#sobre h2 {
    text-decoration: underline;
    color: #EDECEC;

}

#sobre h3 {
    
    color: #EDECEC;

}

#sobre p {
   
    margin-bottom: 2.5em;
    max-width: 1000px;
}

/*Contato*/

#contato {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

}

#contato h2 {
    text-decoration: underline;
    color: #3F55A3;
}

#contato p {
    text-align: center;
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#contato nav a {
    align-items: center;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #3F55A3;
}

/*Tela de Cadastro*/

.erro {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    background-color: #ffcccc;
    color: #cc0000;
    font-size: 14px;
  }
  
  #error-message {
    display: none;
    color: red;
    background-color: #ffe8e8;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    border: 1px solid #ffcccc;
    font-weight: bold;
}

#form {
    color: #9A9595;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
}


#form .title {
    text-align: center;
    font-size: 1.8em; 
    margin-bottom: 15%;
    color: #3F55A3;
}

#form .input {
    min-width: 280px;
    border-radius: 10px;
    border:2px #9A9595 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
   
}

#form div {
    background: #EDECEC;
}

#form .input input{
    color: #3F55A3;
    background-color: #EDECEC;
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Krona One', sans-serif;
    transform: translateY(-10%);
    font-size: 11pt;
}

#form p4, p5 {
    display: flex;
    flex-direction: column;
    color: #3F55A3;
    font-size: 0.6em;
    margin-bottom: 2%;
}

#form .botao {
    width: 100%;
    text-align: center;
}

#form button {
    margin-top: 10%;
    background: #3F55A3;
    width: 60%;
    height: 40px;
    border: #9A9595;
    font-size: 0.9em;
    color: #EDECEC;
    border-radius: 10px;
    outline: 2px #9A9595;
    cursor: pointer;
}

#form button:hover {
    background: #6678b9;
}

#form button#bottom {
    width: 20px;
    height: 20px;
    padding: 3px;
    border: none;
    background-color: #ffffff; 
    line-height: 0;
    position: absolute;
    right: 70px;
    top: 60%;
}

#form button#bottom i {
    font-size: 14px; 
    color: black; 
}

#form button#bottomm {
    width: 20px;
    height: 20px;
    padding: 3px;
    border: none;
    background-color: #ffffff; 
    line-height: 0;
    position: absolute;
    right: 70px;
    top: 50%;
}

#form button#bottomm i {
    font-size: 14px; 
    color: black; 
}




/*Login*/

.login #form button {
    font-size: 1.2em;
    width: 60%;


}

/*Minha Conta*/

.conta button {

        margin-top: 10%;
        background: #3F55A3;
        width: min-content;
        height: 40px;
        border: #9A9595;
        font-size: 0.9em;
        color: #EDECEC;
        border-radius: 10px;
        outline: 2px #9A9595;
        cursor: pointer;
        margin-bottom: 10%;
}

.conta button:hover {

    background: #6678b9;
}

.conta {
    text-align: center;
    list-style-type: none;
    padding: 0;
    width: 100%;

}

.conta #previewTab {

    background-color: #EDECEC;
}

.conta p {
    font-size: 1.0em;
    color: #575555ec
}

.conta h2 {
    
    outline-color: #6787f8;
    width: 30%;
    padding: 10px 0;
    background-color: #9a959560;
    min-width: 280px;
    border-radius: 10px;
    margin: 0px 0px 12px -5px;
    margin-top: 10%;
    text-align: center;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conta #signedDocsTab {
    background-color: #EDECEC;
}

/*Rodapé*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #3F55A3;
    color: #EDECEC;
}

footer a {
    text-decoration: none;
}

@media screen and (min-width: 768px){
    
    /*div*/

    div {

        flex-direction: row;
        justify-content: space-around;
    }

    div ul {
        flex-direction: row;
        width: 70%;
    }

    /*Cabeçalho*/

    header {

        height: 800px;
        height: 80vh;
        justify-content: center;
    }

    /*Sobre*/

    #sobre {

            height: 400px;
            height: 50vh;
            justify-content: center;
            min-height: 250px;
    }

    /*Contato*/

    #contato {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;

    }

    #contato h2, #contato p {

        width: 100%;

    }
    
}